
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins',
    sans-serif;
}


    .navbar__container{
        display: flex;
        justify-content: space-between;
        }

.navbar__title {
    
    /* margin-top: 50px;*/
   
    align-items: center;
    height: 65px;
    width: 500px;
    margin-top: 45px;
 
}

.navbar {
    background-color: black;
    height: 300px;
    padding: 0.5rem calc((100vw - 1200px)/ 2);
    
    align-items: center;
    position: relative;
    justify-content: s;
    background-image: url(nik-owens-40OJLYVWeeM-unsplash.jpg);

background-size: cover;
background-position: center;
}



.navbar__logo {
    
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    
    
  
}

.street {
    color: white;
    font-size: 12px;
    width: 500px;
    margin-left: 20px;
    
    }

.img__logo {
    width: 100px;
    float: left;
    display: flex;
    margin-top: 20px;
}

.navbar__toggle {
    display: flex;
    justify-content: end;
}

.navbar__links {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: end;
}
.navbar__menu {
    display: flex;
    align-items: center;
    text-align: center;
   
}

/*service.serctions*/

.service__section {
    height: 50px;
    
}
.button__menu {
    height: 30px;
    width: 100px;
    align-items: center;
    margin-top: 10px;
    color: black;
    background-color: rgb(250, 237, 237);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.5s;
}




.div__wrap {
    align-items: top;
    
}

.div__descrizione {
    background-color: black;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;

    
    
   
}

.div__descrizione2 {
    background-color: black;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    

}
.h1 {
    font-size: 30px;
    color: white;
}
.descrizione__1 {
    font-size: 30px;
    color: white;
}

.Gallery {
    display: flex;
}

.contenitore__bottoni {
   
    background-color:rgba(55, 49, 49, 0.51);
}
.storia {
    background-color:#f6f6f6;
    display: flex;
    padding-right: 25px;
   
    
   
}

.divpizze {
display:flex;
flex-direction: column;

background-color: rgb(21, 17, 17);
background-size: cover;
background-position: center;

}
.divpizze2 {
    display:grid;
    
    
    background-color: rgb(240, 234, 234);
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
    }




.Party__Deal1 {
    background-color:rgb(212, 201, 201);
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    cursor: pointer;
    margin-left: 30px;
    padding-top: 40px;
    margin-top: 25px;
    height: 180px;
  

}
    

.title1 {
    font-size: 25px;
    cursor: pointer;
    
}
 
.descrizione1 {
   font-size: 20px;
   margin-top: 25px;
}




.Party__Deal {
    background-color: white;
     border-radius: 15px;
     width: 300px;
     padding: 30px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 25px;
    height: 180px;
   
    
    
    
}


.title2 {
    font-size: 20px;
    
}
 
.testo__specifico {
    height: 1050px;
    width: 640px;
    padding-left: 85px;
    padding-top: 35px;
    font-size: 20px;
    padding-right: 80px;
    align-items: center;
    position: relative;
    justify-content: s;
    background-image: url(pablo-pacheco-D3Mag4BKqns-unsplash.jpg);


background-size: cover;
background-position: center;
}
.descrizione2 {
   font-size: 18px;
}

/* footer */ 

.Footer__container {
    background-color: rgba(0, 0, 0, 0.942);
    width: 1280px;
   
}

.Social__media-wrap  {
    height: 100px;
    display: inline-flex;
    
    
}

.Footer__link {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  
}
a {
    color: white;
}
 

.footer__law {
    color: rgb(202, 193, 193);
    padding-top: 8px;
}

.payment__method {
    color: white;
    
    justify-content: space-between;
    width: 800px;
    padding-top: 20px;
    padding-left: 400px;
   

  

    
}

.fa-cc-paypal {
    width: 200px;
}

.payment__links {
    font-size: 100px;

}

.img__payment {
    width: 130px;
}
.img__payment1 {
    width: 130px;
    height: 52px;
}
.img__payment2 {
    width: 130px;
    height: 52px;
}

.Footer__link2 {
    justify-content: space-between;
    display: flex;
    padding-right: 300px;
    padding-top: 9px;
}



